html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.container {
  padding: 0 20%;
  text-align: center;
}

.headerWrapper {
  text-align: center;
}

.signUpWrapper {
  border: 1px solid gray;
  margin-bottom: 2rem;
  width: 450px;
  margin: 0 auto;
  /* padding: 10px; */
  position: relative;
}

.signUpLine:last-child {
  border-bottom: none;
}
.logo {
  width: 150px;
  margin-top: 20px;
}

.signUpLine {
  padding: 10px;
  border-bottom: 1px solid gray;
  cursor: pointer;
  background-color: #E3EFC5;
  transition: .3s;
}
.signUpLine-admin {
  padding: 10px;
  border-bottom: 1px solid gray;
  cursor: pointer;
  background-color: #E3EFC5;
  transition: .3s;
}
.signUpLine-admin:last-child {
  border-bottom: none;
}

.signUpLine:hover {
  /* background-color: #BACF5F; */
  opacity: .7;
}

.time {
  font-size:24px;
  color: gray;
  margin: 0;
}

.input {
  width: 100%;
  border: 0;
  cursor: pointer;
}

input[type="text"] {
  font-size:24px;
  color: gray;
}

.input:focus {
  background-color: #E3EFC5;
  border: 0;
  outline: none;
}

.input:focus + .time {
  background-color: green;
}

.button {
  background-color: #F78E55;
  margin-bottom: 5rem;
  width: 25%;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 4rem auto;
  transition: .3s;
}

.button:hover {
  background-color: #F78E5589
}

.active {
  background-color: #BACF5F;
}

.modal-header {
  margin: 5px 0;
}

.modal-subheader {
  margin: 5px 0;
}

.modal-button-wrapper { 
  margin-top: 10px;
}

.modal-button-yes, .modal-button-no {
  background-color: #F78E55;
  width: 120px;
  height: 50px;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 auto;
  transition: .3s;
  margin: 0 5px;
}


.modal-button-yes:hover, .modal-button-no:hover {
  background-color: #F78E5589
}

.x-wrapper {
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 11px;
  cursor: pointer;
}

.loading-wrapper {
  background-color: #E3EFC5;
}
.is-this-correct-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  margin: 20px 0;
  padding: 8px;
}

.confirm-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}


/* #F78E55 */
/* #BACF5F */